---
import { DOMAIN } from '@global/constants'
import sanityFetch from '@utils/sanity.fetch'

type Props = {
  data?: Array<{
    name: string
    path: string
  }>
}

const { data = [] } = Astro.props

const lang = Astro.url.pathname.startsWith('/en') ? 'en' : 'pl'

const { title, slug } = await sanityFetch<{ title: string, slug: string }>({
  query: `
    *[_type == "Index_Page" && language == $language][0] {
      title,
      "slug": slug.current
    }
  `,
  params: { language: lang },
})

const breadcrumbsData = [
  { name: title, path: slug },
  ...data,
];

const schema = JSON.stringify({
  '@context': 'https://schema.org',
  '@type': 'BreadcrumbList',
  itemListElement: breadcrumbsData?.map(({ name, path }, i) => ({
    '@type': 'ListItem',
    position: i + 1,
    name: name,
    item: `${DOMAIN}${path}`,
  })),
})
---

<script is:inline type="application/ld+json" set:html={schema} />
{breadcrumbsData.length >= 2 && (
  <nav class="Breadcrumbs">
    {breadcrumbsData.map(({ name, path }, i) => {
      const isLastItem = i === breadcrumbsData.length - 1
      return (
        isLastItem ? <span>{name}</span> : (
          <a href={path}>{name}</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><path stroke="#374776" stroke-linecap="round" stroke-linejoin="round" d="m6 12 4-4-4-4" aria-hidden="true" /></svg>
        )
      )
    })}
  </nav>
)}

<style lang="scss">
  .Breadcrumbs {
    font-size: 0.875rem;
    margin-top: clamp(1.5rem, calc(2vw / 0.48), 2rem);
    display: flex;
    align-items: center;
    gap: 0.38rem;
    max-width: 48rem;
    svg {
      flex-shrink: 0;
    }
    a, span {
      height: 2.75rem;
      line-height: 2.75rem;
      white-space: nowrap;
      &:last-child {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    a {
      transition: opacity 300ms;
      &:hover {
        opacity: 0.76;
      }
    }
    span {
      font-weight: 600;
    }
  }
</style>
