---
import { getImage } from 'astro:assets'
import { DOMAIN, LOCALE, THEME_COLOR } from '@global/constants'
import sanityFetch from '@utils/sanity.fetch'
import icon from '@assets/icon.png'
import faviconSvg from '@assets/favicon.svg'
import { type Language } from '@utils/languages'

const icons = {
  favicon: await getImage({ src: faviconSvg, format: 'svg' }),
  appleTouchIcon: await getImage({ src: icon, width: 180, height: 180, format: 'png' }),
}

const seo = await sanityFetch<{ openGraphImage: string }>({
  query: `
    *[_type == "global"][0].seo {
      "openGraphImage": img.asset -> url + "?w=1200",
    }
  `,
})

type Props = {
  path: string
  title: string
  description: string
  openGraphImage?: string
  alternates?: Array<{ lang: Language; url: string }>
}

export type HeadProps = Props

const { path, title, description, openGraphImage, alternates } = Astro.props

const getOgImage = async () => {
  const asset = await getImage({
    src: openGraphImage || seo.openGraphImage,
    width: 1200,
    format: 'png',
    inferSize: true,
  })
  return {
    url: `${DOMAIN}${asset.src}`,
    width: asset.attributes.width,
    height: asset.attributes.height,
  }
}
const ogImage = await getOgImage()

const url = `${DOMAIN}${path}`
---

<meta charset="utf-8" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" href="/favicon.ico" sizes="32x32" />
<link rel="icon" href={icons.favicon.src} type="image/svg+xml" />
<link rel="apple-touch-icon" href={icons.appleTouchIcon.src} />
<meta name="theme-color" content={THEME_COLOR} />
<link rel="manifest" href="/manifest.webmanifest" />
<link rel="canonical" href={url} />
{alternates && alternates.map(({ lang, url }) => <link rel="alternate" hreflang={lang} href={`${DOMAIN}${url}`} />)}
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={title} />
<meta property="og:locale" content={LOCALE} />
<meta property="og:image" content={ogImage.url} />
<meta property="og:image:width" content={ogImage.width} />
<meta property="og:image:height" content={ogImage.height} />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImage.url} />
<meta name="twitter:image:width" content={ogImage.width} />
<meta name="twitter:image:height" content={ogImage.height} />
<link rel="sitemap" href="/sitemap-index.xml" />
