---
import '@global/global.scss'
import { LOCALE } from '@global/constants'
import Head, { type HeadProps } from './Head.astro'
import sanityFetch from '@utils/sanity.fetch'
import { ImageDataQuery, type ImageDataProps } from '@components/ui/Image'
import Header from '@components/global/Header.astro'
import Footer from '@components/global/Footer.astro'
import SmoothScroll from './smooth-scroll.astro'

type Props = HeadProps & {
  bodyProps: astroHTML.JSX.IntrinsicElements['body']
}

const { ...props } = Astro.props

export type feauturedProjectsProps = {
  img: ImageDataProps
  title: string
  slug: string
}

const lang = props.path.startsWith('/en') ? 'en' : 'pl'

const feauturedProjects = await sanityFetch<feauturedProjectsProps[]>({
  query: `
    *[_type == "global" && language == $language][0].feauturedProjects[] -> {
      ${ImageDataQuery('img')}
      title,
      "slug": slug.current,
    }
  `,
  params: { language: lang },
})
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head {...props} />
    <script is:inline src="https://analytics.ahrefs.com/analytics.js" data-key="aXa2hx1VgC/dy7pJ+MCH0A" async></script>
  </head>
  <body {...props.bodyProps}>
    <Header feauturedProjects={feauturedProjects} lang={lang} alternates={props.alternates} />
    <main id="main">
      <slot />
    </main>
    <Footer feauturedProjects={feauturedProjects} lang={lang} />
    <SmoothScroll />
  </body>
</html>
