---
import type { feauturedProjectsProps } from '@/src/layouts/Layout.astro'
import Button from '@/src/components/ui/Button'
import sanityFetch from '@/src/utils/sanity.fetch'
import CopyToClipboard from '@/components/ui/CopyToClipboard.astro'

type QueryProps = {
  email: string
  tel: string
  address: {
    address: string
    link: string
  }
  socials: {
    facebook: string
    instagram: string
  }
  companyInfo: {
    nip: string
    krs: string
  }
}

const data = await sanityFetch<QueryProps>({
  query: `
    *[_type == 'global'][0] {
      email,
      tel,
      address {
        address,
        link
      },
      socials {
        facebook,
        instagram,
      },
      companyInfo {
        nip,
        krs,
      },
    }
  `,
})

const { feauturedProjects } = Astro.props as { feauturedProjects: feauturedProjectsProps[] }
---

<footer data-component="Footer">
  <div class="max-width">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="107"
      height="24"
      viewBox="0 0 107 24"
      fill="currentColor"
      class="logo">
      <title>Lidenskap</title>
      <path
        d="M30.74 5.894a1.277 1.277 0 0 1-.388-.955 1.285 1.285 0 0 1 .399-.974 1.439 1.439 0 0 1 1.033-.377c.45 0 .814.125 1.093.377a1.254 1.254 0 0 1 .417.974 1.23 1.23 0 0 1-.418.955c-.278.251-.642.377-1.093.378-.435 0-.783-.126-1.043-.378Zm-.186 1.766h2.465V18h-2.465V7.66ZM36.728 17.831a4.053 4.053 0 0 1-1.461-1.053 4.987 4.987 0 0 1-.945-1.61 5.95 5.95 0 0 1-.338-2.058v-.556a6.033 6.033 0 0 1 .338-2.069c.208-.592.528-1.139.945-1.61a4.115 4.115 0 0 1 1.461-1.043 4.624 4.624 0 0 1 1.849-.369h.178a4.512 4.512 0 0 1 1.7.307c.511.208.975.518 1.362.91V3.688h2.465V18h-1.948a3.676 3.676 0 0 1-.179-.566 5.766 5.766 0 0 1-.12-.646v-.02a3.966 3.966 0 0 1-1.42 1.053 4.549 4.549 0 0 1-1.88.378h-.158a4.622 4.622 0 0 1-1.849-.368Zm2.544-1.6c.365.004.726-.078 1.054-.239.317-.157.596-.38.817-.656.235-.298.41-.639.517-1.003.123-.417.183-.85.179-1.283v-.497a4.056 4.056 0 0 0-.19-1.272 2.99 2.99 0 0 0-.525-.985 2.445 2.445 0 0 0-.806-.636 2.35 2.35 0 0 0-1.044-.228h-.16a2.29 2.29 0 0 0-1.837.864c-.23.295-.406.628-.517.985-.13.411-.194.841-.19 1.272v.497c-.003.438.06.874.19 1.293.108.364.283.704.517 1.004.215.27.487.49.795.645a2.25 2.25 0 0 0 1.043.24h.157ZM48.102 17.821a4.847 4.847 0 0 1-1.61-1.044 4.538 4.538 0 0 1-1.045-1.61 5.684 5.684 0 0 1-.368-2.077v-.398c-.009-.72.12-1.435.378-2.107a5.076 5.076 0 0 1 1.021-1.64 4.54 4.54 0 0 1 1.57-1.073 5.2 5.2 0 0 1 2.038-.388h.24a4.913 4.913 0 0 1 1.868.348 4.25 4.25 0 0 1 2.416 2.485c.226.621.337 1.279.327 1.94v1.352h-7.395c.036.357.127.705.269 1.034.128.303.321.574.566.794.251.222.54.395.855.511.35.129.72.192 1.093.188h.205a3.242 3.242 0 0 0 1.62-.388c.44-.243.828-.571 1.142-.964l1.373 1.491a5.465 5.465 0 0 1-.855.796 5.29 5.29 0 0 1-1.014.596c-.366.161-.745.29-1.134.387-.396.1-.803.15-1.212.15h-.279a5.462 5.462 0 0 1-2.069-.383Zm4.513-5.884v-.04a3.52 3.52 0 0 0-.224-1.034 2.5 2.5 0 0 0-.477-.785 1.923 1.923 0 0 0-.714-.496 2.472 2.472 0 0 0-.934-.17h-.18a2.315 2.315 0 0 0-1.67.676c-.221.228-.4.494-.526.785-.148.34-.25.698-.307 1.064h5.032ZM55.733 7.66h1.928c.088.232.157.47.204.714.056.25.092.502.11.756a4.8 4.8 0 0 1 1.57-1.225 4.507 4.507 0 0 1 2.008-.448h.102c1.14 0 2.011.338 2.615 1.014.603.677.905 1.644.905 2.903v6.62h-2.469v-6.097c0-.755-.152-1.325-.457-1.71-.305-.385-.79-.577-1.452-.576h-.118a2.51 2.51 0 0 0-1.014.204 2.269 2.269 0 0 0-.785.557c-.226.25-.402.54-.517.855-.13.362-.193.745-.185 1.13v5.646h-2.445V7.66ZM67.831 17.821a6.964 6.964 0 0 1-2.098-1.113l1.233-1.79c.221.21.468.39.735.538a5.944 5.944 0 0 0 1.73.626c.295.058.595.089.895.09.237.002.474-.02.706-.07a1.43 1.43 0 0 0 .51-.204.948.948 0 0 0 .307-.357c.073-.149.11-.312.11-.477a.844.844 0 0 0-.205-.607 1.6 1.6 0 0 0-.586-.358 8.533 8.533 0 0 0-.935-.288c-.421-.11-.836-.243-1.243-.398a10.48 10.48 0 0 1-1.03-.34 3.768 3.768 0 0 1-.935-.518 2.232 2.232 0 0 1-.655-.805 2.61 2.61 0 0 1-.24-1.162c-.007-.451.081-.899.26-1.313.168-.379.423-.713.745-.974a3.654 3.654 0 0 1 1.188-.628 4.953 4.953 0 0 1 1.55-.229c.728 0 1.45.12 2.137.357a7.329 7.329 0 0 1 1.86.935l-1.155 1.75a5.583 5.583 0 0 0-1.392-.726 4.548 4.548 0 0 0-1.532-.268c-.2-.003-.4.017-.596.059a1.205 1.205 0 0 0-.438.189.951.951 0 0 0-.278.306.889.889 0 0 0-.103.437.714.714 0 0 0 .205.527c.155.15.332.274.527.368a3.3 3.3 0 0 0 .755.258c.291.067.597.14.92.219.408.093.826.21 1.253.348.406.132.79.322 1.142.563.335.229.617.527.826.875.211.351.317.805.317 1.361.008.462-.087.919-.278 1.338a2.79 2.79 0 0 1-.786.994c-.371.29-.792.509-1.243.646a5.253 5.253 0 0 1-1.634.24 7.956 7.956 0 0 1-2.549-.399ZM75.038 3.687h2.464v8.33h.16l3.797-4.357h2.763l-4.353 4.79 4.473 5.547h-2.947l-3.737-4.91h-.16v4.91h-2.46V3.687Z">
      </path>
      <path
        d="M85.799 17.98c-.401-.132-.773-.34-1.094-.612a2.704 2.704 0 0 1-.706-.965 3.107 3.107 0 0 1-.248-1.263v-.198c0-1.113.476-1.945 1.43-2.495.953-.55 2.424-.825 4.413-.825h.835v-.437c0-.53-.166-.947-.497-1.253-.332-.306-.816-.458-1.452-.457h-.12a4.93 4.93 0 0 0-1.56.268 6.326 6.326 0 0 0-1.56.785l-.974-1.75a8.118 8.118 0 0 1 2.042-.963 7.408 7.408 0 0 1 2.237-.352h.18c1.27 0 2.261.329 2.971.985.71.656 1.065 1.575 1.064 2.757v4.673c0 .367.036.733.109 1.092.07.35.16.695.268 1.034h-2.346a1.816 1.816 0 0 1-.178-.546 12.96 12.96 0 0 1-.102-.646A4.8 4.8 0 0 1 89 17.833a4.58 4.58 0 0 1-1.83.368 4.189 4.189 0 0 1-1.373-.22Zm3.408-2.106a3.755 3.755 0 0 0 1.226-.935v-1.73h-.613c-1.272 0-2.206.13-2.802.388-.596.259-.894.667-.895 1.226v.102c-.004.182.037.363.119.527a1.359 1.359 0 0 0 .835.676c.207.06.421.09.636.09.518 0 1.029-.119 1.495-.344ZM93.734 7.66h1.949c.073.186.13.38.168.577.046.224.083.444.11.655.398-.45.89-.81 1.44-1.054a4.518 4.518 0 0 1 1.86-.378h.179a4.556 4.556 0 0 1 1.838.37c.564.244 1.205.593 1.61 1.043.416.47.737 1.017.944 1.61.233.664.347 1.364.338 2.067v.557c.01.7-.105 1.397-.338 2.058a4.995 4.995 0 0 1-.944 1.61c-.409.457-1.046.808-1.61 1.053a4.556 4.556 0 0 1-1.838.368h-.179a4.518 4.518 0 0 1-1.7-.306 4.04 4.04 0 0 1-1.357-.903v4.99h-2.47V7.66Zm5.169 8.568c.362.005.72-.077 1.043-.239.309-.156.58-.376.796-.645.233-.3.408-.64.517-1.004a4.29 4.29 0 0 0 .189-1.293v-.497a4.127 4.127 0 0 0-.189-1.272 3.117 3.117 0 0 0-.517-.985 2.285 2.285 0 0 0-1.838-.863h-.16a2.35 2.35 0 0 0-1.043.227 2.383 2.383 0 0 0-.805.647 3.103 3.103 0 0 0-.527.984c-.13.408-.194.834-.19 1.262v.497c-.001.44.067.876.205 1.293.115.365.297.705.537 1.004.219.267.489.486.795.645a2.2 2.2 0 0 0 1.033.24h.154ZM25.9 17.405c-.417-.465-.626-1.214-.627-2.247V3.687h2.466V14.7c0 .504.073.845.218 1.022.146.177.378.266.696.267.176 0 .352-.01.527-.03.165-.014.328-.044.487-.088v1.907a4.15 4.15 0 0 1-.924.24 6.71 6.71 0 0 1-1.004.079c-.81.002-1.422-.229-1.84-.692Z">
      </path>
      <path d="m25.274 5.078-.9-.767v-.624h.9v1.39Z"></path>
      <path
        d="M24.233 3.687h1.123v.624h-.987a1.686 1.686 0 0 1-.085-.292c-.02-.114-.039-.225-.051-.332ZM14.282 12.684l2.01-2.01-2.01-2.008 1.614-1.617 3.45 3.448v.355l-3.45 3.448-1.614-1.616Z">
      </path>
      <path
        d="M19.232 10.544v.261l-3.336 3.335-1.454-1.456 1.973-1.973v-.073l-1.973-1.973 1.454-1.456 3.336 3.335ZM10.516 19.326l-3.448-3.45 1.616-1.612 2.01 2.008 2.01-2.008 1.613 1.613-3.445 3.449h-.356Z">
      </path>
      <path
        d="m12.704 14.425 1.454 1.452-3.334 3.336h-.261l-3.334-3.336 1.455-1.452 1.973 1.97h.073l1.974-1.97ZM10.694 5.076l-2.01 2.01-1.616-1.617 3.448-3.446h.356l3.445 3.446-1.613 1.617-2.01-2.01Z">
      </path>
      <path
        d="m10.824 2.136 3.334 3.333-1.454 1.456-1.974-1.973h-.073L8.684 6.925 7.229 5.47l3.334-3.333h.261ZM2.042 10.852v-.355l3.446-3.448 1.616 1.615-2.01 2.01 2.01 2.01L5.488 14.3l-3.446-3.448Z">
      </path>
      <path d="M4.971 10.638v.073l1.974 1.973-1.457 1.456-3.332-3.335v-.261l3.332-3.335 1.457 1.456-1.974 1.973Z">
      </path>
    </svg>
    <ul class="links">
      <li>
        <a href="/inwestycje">Inwestycje</a>
      </li>
      <li>
        <a href="/o-lidenskap">O Lidenskap</a>
      </li>
      <li>
        <Button theme="primary" href="/kontakt" className="cta">Skontaktuj się z nami</Button>
      </li>
      <li>
        <a href="/realizacje">Realizacje</a>
        <ul>
          {
            feauturedProjects?.map(({ name, slug }) => (
              <li>
                <a href={slug}>{name}</a>
              </li>
            ))
          }
        </ul>
      </li>
    </ul>
    <div class="info">
      <div>
        <ul class="socials">
          <li>
            <a href={data.socials.facebook} aria-label="Facebook" target="_blank" rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none" stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M5.417 9.243v3.334h2.5v5.833h3.333v-5.833h2.5l.833-3.334H11.25V7.577c0-.454.38-.834.833-.834h2.5V3.41h-2.5c-2.27 0-4.167 1.897-4.167 4.167v1.666h-2.5Z">
                </path>
              </svg>
            </a>
          </li>
          <li>
            <a href={data.socials.instagram} aria-label="Instagram" target="_blank" rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none" stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12.885 10.482a2.917 2.917 0 1 1-5.77.856 2.917 2.917 0 0 1 5.77-.855ZM14.166 6.327h.417">
                </path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.5 8.743c0-1.866 0-2.8.363-3.513.32-.627.83-1.137 1.457-1.457.713-.363 1.646-.363 3.513-.363h4.334c1.867 0 2.8 0 3.513.363.627.32 1.137.83 1.457 1.457.363.713.363 1.647.363 3.513v4.334c0 1.867 0 2.8-.363 3.513a3.333 3.333 0 0 1-1.457 1.457c-.713.363-1.646.363-3.513.363H7.833c-1.867 0-2.8 0-3.513-.363a3.333 3.333 0 0 1-1.457-1.457c-.363-.713-.363-1.646-.363-3.513V8.743Z">
                </path>
              </svg>
            </a>
          </li>
        </ul>
        <p class="address">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none">
            <path
              stroke="#7D8FC1"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10 19.203s6.667-5.925 6.667-10.37a6.667 6.667 0 1 0-13.334 0c0 4.445 6.667 10.37 6.667 10.37Z">
            </path><path
              stroke="#7D8FC1"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12.13 8.556a2.13 2.13 0 1 1-4.26 0 2.13 2.13 0 0 1 4.26 0Z">
            </path>
          </svg>
          <a href={data.address.link} target="_blank" rel="noopener" class="link">
            {data.address.address}
          </a>
        </p>
      </div>
      <div>
        <p class="tel">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none">
            <path
              stroke="#7D8FC1"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.22 16.142s-.966.949-1.203 1.227c-.385.411-.84.605-1.435.605-.057 0-.118 0-.176-.004-1.133-.072-2.186-.514-2.976-.89a16.948 16.948 0 0 1-5.633-4.404C4.495 11.111 3.625 9.664 3.049 8.11c-.355-.948-.485-1.687-.428-2.384.039-.446.21-.815.527-1.131l1.301-1.3c.187-.174.386-.27.58-.27.241 0 .436.145.558.267l.011.011c.233.218.454.442.687.682.118.122.24.244.363.37l1.042 1.04c.404.403.404.776 0 1.18-.111.11-.218.22-.329.328-.32.327-.068.076-.4.373-.008.007-.016.011-.02.019-.328.327-.267.647-.198.864l.012.035c.27.655.652 1.272 1.232 2.007l.004.004c1.053 1.295 2.164 2.304 3.389 3.077.156.1.317.179.47.255.137.069.267.133.377.202.015.008.03.02.046.027.13.065.252.095.378.095.317 0 .515-.198.58-.263l.748-.746c.13-.13.336-.286.576-.286.237 0 .432.148.55.278l.008.008 2.102 2.098c.393.389.004 1.192.004 1.192Z">
            </path>
          </svg>
          <a href={`tel:${data.tel}`}>{data.tel}</a>
          <CopyToClipboard data={data.tel} />
        </p>
        <p class="email">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none">
            <path
              stroke="#7D8FC1"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.438 5.604 10 9.823l7.031-4.219M4.375 15.754A1.875 1.875 0 0 1 2.5 13.878V6.542c0-1.036.84-1.875 1.875-1.875h11.25c1.035 0 1.875.839 1.875 1.875v7.337c0 1.035-.84 1.875-1.875 1.875H4.375Z">
            </path>
          </svg>
          <a href={`mailto:${data.email}`}>{data.email}</a>
          <CopyToClipboard data={data.email} />
        </p>
      </div>
      <div>
        <p class="krs">
          <span>KRS:</span>
          {data.companyInfo.krs}
        </p>
        <p class="nip">
          <span>NIP:</span>
          {data.companyInfo.nip}
        </p>
      </div>
    </div>
    <div class="copyright">
      <p>Wykonane przez <a href="https://milewski.me" class="link">milewski.me</a></p>
      <div>
        <button class="set-cookie-preferences link">Zarządzaj plikami cookies</button>
        <a href="/polityka-prywatnosci" class="link">Polityka prywatności</a>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    padding: clamp(calc(32rem / 16), calc(48vw / 7.68), calc(48rem / 16)) 0;
    padding-bottom: clamp(calc(64rem / 16), calc(82vw / 7.68), calc(82rem / 16));
    background-color: var(--secondary-800, #0b2348);
    color: var(--primary-100, #fffefd);
    :global(:focus-visible) {
      outline: 2px solid var(--primary-100, #fffefd);
    }
    .link {
      &[target='_blank'] {
        &::after {
          content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEyIDEzIiBmaWxsPSJub25lIj48cGF0aCBzdHJva2U9IiNGRkZFRkQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTEwLjUgMkg3LjEyNU0xMC41IDJ2My4zNzVNMTAuNSAyIDYuMzc1IDYuMTI1TTQuNyAyYy0xLjEyIDAtMS42OCAwLTIuMTA4LjIxOGEyIDIgMCAwIDAtLjg3NC44NzRDMS41IDMuNTIgMS41IDQuMDggMS41IDUuMnYyLjZjMCAxLjEyIDAgMS42OC4yMTggMi4xMDhhMiAyIDAgMCAwIC44NzQuODc0QzMuMDIgMTEgMy41OCAxMSA0LjcgMTFoMi42YzEuMTIgMCAxLjY4IDAgMi4xMDgtLjIxOGEyIDIgMCAwIDAgLjg3NC0uODc0Yy4yMTgtLjQyOC4yMTgtLjk4OC4yMTgtMi4xMDh2LS41NSIvPjwvc3ZnPg==');
        }
      }
    }
    .logo {
      margin-bottom: clamp(calc(32rem / 16), calc(48vw / 7.68), calc(48rem / 16));
    }
    .links {
      columns: 2;
      gap: 2rem;
      max-width: calc(768rem / 16);
      .cta {
        width: fit-content;
      }
      & > li {
        break-inside: avoid;
        & > ul {
          margin-top: calc(24rem / 16);
        }
      }
      li + li {
        margin-top: 1rem;
      }
      @media (max-width: calc(499rem / 16)) {
        columns: 1;
        & > li:has(ul) {
          margin-top: 2rem !important;
        }
      }
    }
    .info {
      display: flex;
      flex-wrap: wrap;
      gap: calc(24rem / 16) calc(64rem / 16);
      align-items: center;
      margin-top: clamp(calc(24rem / 16), calc(32vw / 7.68), calc(32rem / 16));
      padding-top: clamp(calc(24rem / 16), calc(32vw / 7.68), calc(32rem / 16));
      border-top: 1px solid var(--secondary-700, #0c2d63);
      & > * {
        display: grid;
        gap: 1rem;
      }
    }
    .socials {
      display: flex;
      align-items: center;
      gap: calc(8rem / 16);
      margin: -11.5px -12px;
      a {
        display: block;
        padding: 11.5px 12px;
      }
    }
    .address {
      font-size: calc(14rem / 16);
    }
    .address,
    .tel,
    .email,
    .krs,
    .nip {
      display: flex;
      align-items: center;
      gap: calc(8rem / 16);
    }
    .copyright {
      font-size: calc(14rem / 16);
      margin-top: clamp(calc(24rem / 16), calc(32vw / 7.68), calc(32rem / 16));
      padding-top: clamp(calc(24rem / 16), calc(32vw / 7.68), calc(32rem / 16));
      border-top: 1px solid var(--secondary-700, #0c2d63);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      gap: 1rem 2rem;
      > div {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 1rem 2rem;
      }
    }
  }
</style>

<script>
  const footer = document.querySelector('footer[data-component="Footer"]')!
  const setCookiePreferences = footer.querySelector('.set-cookie-preferences')!

  setCookiePreferences.addEventListener('click', () => {
    document.cookie.split(';').forEach((cookie) => {
      const eqPos = cookie.indexOf('=')
      const name = eqPos > -1 ? cookie.substring(0, eqPos).trim() : cookie.trim()
      document.cookie = `${name}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`
    })
    window.location.reload()
  })
</script>
